<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Потвърждаване на имейл</title>
  </head>
  <body
    style="
      background-color: #fff;
      font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    "
  >
    <div style="width: 600px; margin: auto">
      <div></div>

      <div style="text-align: center">
        <h1 style="font-size: 38px; font-weight: 700">Потвърждаване на вашия имейл адрес</h1>
      </div>

      <div style="width: 94%; height: 1px; background-color: lightgray; margin-left: 16px"></div>

      <div style="margin-left: 16px; text-align: center">
        <p style="font-weight: 600; font-size: 18px; text-align: center; padding-inline: 80px">
          Благодарим Ви, че се присъединихте към отбора на нашето приложение за бизнес. 
        </p>

        <p style="margin-top: 30px">Моля отделете секунда и потвърдете вашия имейл адрес, за да се насладите на нашето приложение.</p>
      </div>

      <div style="margin-block: 50px; text-align: center">
        <a href="<%= url %>" style="padding: 10px; background-color: #007aff; border-radius: 10px; color: white; text-decoration: none"
          >Потвърждаване</a
        >
      </div>
    </div>
  </body>
</html>
