<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body
    style="
      background-color: #fff;
      font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    "
  >
    <table style="width: 600px; margin: auto">
      <tbody>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <h1 style="text-align: center; width: 550px; padding-left: 20px; font-size: 40px; margin-bottom: 0; color: #333">
              Welcome to our app
            </h1>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: center; width: 550px; padding-left: 20px; font-size: 17px; color: #333">
              By registering, you have taken the first step towards successful business and finding convenient offers.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <h3 style="font-size: 24px; padding-left: 30px; margin-bottom: 0; color: #333">Първи стъпки</h3>
            <p style="width: 400px; padding-left: 30px; margin-top: 10px; color: #333">A few guidelines for using the app:</p>
          </td>
        </tr>
        <tr>
          <td>
            <h3 style="font-size: 24px; padding-left: 30px; margin-bottom: 0; color: #333">Нашите фирми</h3>
            <p style="width: 400px; padding-left: 30px; margin-top: 10px; color: #333">
              Насладете се на приложението и на фирмите в него. Тук има безброй фирми, които са утвърдени сред мнозина.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <h3 style="font-size: 24px; padding-left: 30px; margin-bottom: 0; color: #333">Плащайте по различни начини</h3>
            <p style="width: 400px; padding-left: 30px; margin-top: 10px; color: #333">
              Насладете се на различните начини за плащане - от карта до crypto валути. Приемаме всякакви плащания!
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <h1 style="text-align: center; width: 550px; padding-left: 20px; font-size: 40px; margin-bottom: 0; color: #333">
              Готови ли сте?
            </h1>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: center; width: 450px; padding-left: 65px; font-size: 19px; margin-bottom: 75px; color: #333">
              Нямаме търпение да се насладите на всички функции, налични в нашето приложение!
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
